## =======================
 ## Archivos de configuración del IDE
 ## =======================
 #/.idea/
 #/.gradle/
 #
 ## =======================
 ## Archivos compilados
 ## =======================
 #*.class
 #
 ## =======================
 ## Carpetas de compilación
 ## (lo que pide el profe y lo usual en proyectos Java/Gradle)
 ## =======================
 #/*/bin/
 #/*/build/
 #/build/
 #
 ## =======================
 ## Logs
 ## =======================
 #*.log
 #
 ## =======================
 ## Archivos de BlueJ
 ## =======================
 #*.ctxt
 #
 ## =======================
 ## Archivos J2ME
 ## =======================
 #.mtj.tmp/
 #
 ## =======================
 ## Paquetes (no se suben binarios ni empaquetados)
 ## =======================
 #*.jar
 #*.war
 #*.nar
 #*.ear
 #*.zip
 #*.tar.gz
 #*.rar
 #
 ## =======================
 ## Crash logs de JVM
 ## =======================
 #hs_err_pid*
 #replay_pid*